.gradle/
build/
app/build/
local.properties
tuya.properties
maps.properties
/app/src/main/assets/t_s.bmp
app/libs/
*.jks
*.keystore
*.apk
.idea/
*.iml
captures/
*.xml
*.png
*.log
!app/src/main/AndroidManifest.xml
!app/src/main/res/**/*.xml
