<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <application
        android:name=".T4AApplication"
        android:allowBackup="false"
        android:label="T4A Control"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="THING_SMART_APPKEY"
            android:value="${TUYA_SMART_APPKEY}" />
        <meta-data
            android:name="THING_SMART_SECRET"
            android:value="${TUYA_SMART_SECRET}" />

        <service
            android:name=".session.T4ASessionService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <activity
            android:name=".mqtt.MqttSettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
